<div class="referral">
    <div class="settings-heading _line">
        <h2 class="settings-title">Friend referral</h2>
        <p class="settings-subtitle">Refer your friends to earn rewards:</p>
    </div>
    <ol>
        <li>Invite friends from your existing contact list</li>
        <li>Your friends have 7 days to click your link and sign up</li>
        <li>When they purchase their first gift we will reward you with <a href="#">extra points</a></li>
    </ol>

    <div class="referral-form form">
        <fieldset class="form-fieldset">
            <legend>Find friends:</legend>
            <div class="form-row">
                <label class="form-label">Gmail</label>
                <div class="form-fields">
                    <span class="editable _text _fixed">Your email address</span>
                    <span class="btn _primary _square _border-gray _size-sm">Import</span>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">Hotmail</label>
                <div class="form-fields">
                    <span class="editable _text _fixed">Your email address</span>
                    <span class="btn _primary _square _border-gray _size-sm">Import</span>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">Outlook</label>
                <div class="form-fields">
                    <span class="editable _text _fixed">Your email address</span>
                    <span class="btn _primary _square _border-gray _size-sm">Import</span>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">Yahoo! Mail</label>
                <div class="form-fields">
                    <span class="editable _text _fixed">Your email address</span>
                    <span class="btn _primary _square _border-gray _size-sm">Import</span>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">Any Email</label>
                <div class="form-fields">
                    <span class="editable _text _fixed">Your email address</span>
                    <span class="btn _primary _square _border-gray _size-sm">Invite</span>
                </div>
            </div>
        </fieldset>
    </div>
</div>