<a href="#" class="close" ng-click="$dismiss('cancel')">Close</a>
<div class="popup">
    <ul class="popup-list">
        <li class="popup-with popup-fieldset">
            <a class="btn _facebook" href="" ng-click="auth.loginViaFacebook()">Login with Facebook</a>
        </li>
        <li class="popup-with popup-fieldset">
            <a class="btn _linkedin" href="" ng-click="auth.loginViaLinkedIn()">Login with LinkedIn</a>
        </li>
    </ul>

    <div class="popup-divider divider">
        <i class="divider-decor"></i>
    </div>

    <form class="popup-form" name="userLogin" method="post" novalidate autocomplete="on">
        <div class="form-group popup-fieldset">
            <input class="form-control" type="email" name="userEmail" placeholder="Your Email Address" ng-model="auth.email" required>
        </div>

        <div class="form-group popup-fieldset">
            <input class="form-control" type="password" name="userPassword" placeholder="Your Password" ng-model="auth.password" required>
        </div>

        <div class="hide popup-checkbox popup-fieldset">
            <div class="checkbox _round _lg">
                <input type="checkbox" id="remember" name="user[remember_me]" ng-model="auth.rememberMe">
                <label for="remember">Keep me signed in</label>
            </div>
        </div>

        <div class="popup-btns popup-fieldset">
            <input class="popup-btn btn _red pull-right" type="submit" value="Sign In" ng-click="auth.login()" ng-disabled="!userLogin.$valid || (auth.formStatus === 'sending')">
            <a href="#" class="popup-btn btn _border pull-left" ng-click="auth.Auth.showSignUpPopup()">Create Account</a>
        </div>

        <div class="popup-link popup-fieldset">
            <a href="" ng-click="auth.Auth.showRecoveryPopup()">Forgot password?</a>
        </div>

        <p class="popup-info popup-fieldset">
            By creating an account, your agree to JellyChip's <a href="/privacy.html" target="_self">Privacy Policy</a> and <a href="/terms.html" target="_self">Terms of Use</a>.
        </p>
    </form>
</div>
