<ul>
    <li>
        <div class="d-options"></div>
        <div class="d-free">free</div>
        <div class="d-pro">pro</div>
    </li>
    <li>
        <div class="d-options">
            <p>No. of questions</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                The maximum number of questions that you can have in one single survey.
            </div>
        </div>
        <div class="d-free">3</div>
        <div class="d-pro">Unlimited</div>
    </li>
    <li>
        <div class="d-options">
            <p>Responses per question</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                The number of people you want to respond to your survey.  The more people who respond to your survey helps increase the accuracy of your results.
            </div>
        </div>
        <div class="d-free">100</div>
        <div class="d-pro">Unlimited</div>
    </li>
    <li>
        <div class="d-options">
            <p>Targeting (gender, age, location, education, job)</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                The ability to launch your survey to a specific audience within JellyChip.
            </div>
        </div>
        <div class="d-free d-free-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
        <p>Survey logic and redirection</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                Surveys can be created with multiple branch paths. Respondents can have different questions based on their previous answers. Example, if a user selects answer C for question 1, they will receive a different question for question 2 compared to another user who answered B for question 1.
            </div>
        </div>
        <div class="d-free d-free-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
            <p>Advanced survey features</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                The ability to add images, videos, email input, picture choice questions, website input and MORE.
            </div>
        </div>
        <div class="d-free d-free-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
            <p>Raw results</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                Basic raw results will be available for download in an Excel spreadsheet.
            </div>
        </div>
        <div class="d-free d-pro-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
            <p>Infographic report</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                Results will be available in a custom infographic report in PNG/PDF.
            </div>
        </div>
        <div class="d-free d-free-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
            <p>Results segmentation</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                Results with respondent details such as age bracket, location, gender etc will be included in the spreadsheet.
            </div>
        </div>
        <div class="d-free d-free-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
            <p>Data is private</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
                Results of the survey will be made private and not published on the JellyChip Answers.
            </div>
        </div>
        <div class="d-free d-free-icon"></div>
        <div class="d-pro d-pro-icon"></div>
    </li>
    <li>
        <div class="d-options">
            <p class="d-last-option">Price</p>
            <div class="d-option-desc">
                <div class="d-arrow"></div>
            </div>
        </div>
        <div class="d-free">Free</div>
        <div class="d-pro">{{ survey.COST_OF_RESPONSE * 100 }}c per response</div>
    </li>
</ul>
